---
layout: default
title: Apuntes Aplicaciones WEB.
---
<h1>Aplicaciones Web</h1>        

</ol>
    <h2>Tema 1 - La telaraña mundial</h2>
    <blockquote>
      En este tema estudiaremos los inicios de Internet y los conceptos básicos para su funcionamiento. También repasaremos la arquitectura cliente-servidor, así como la evolución de las páginas o de los sitios WEB. 
      Por último veremos todo el SW que necesitamos para poder crear un servidor de aplicaciones WEB. 
    </blockquote>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema1" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>

